@import './normalize.css';
@import './var.css';

@font-face {
  font-family: 'SegoeUI';
  font-weight: 400;
  src: url('../fonts/SegoeUI.ttf') format('truetype');
}
@font-face {
  font-family: 'SegoeUI';
  font-weight: 600;
  src: url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SegoeUI', sans-serif;
  font-weight: 700;
  src: url('../fonts/SegoeUI-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--system-violet);
  color: var(--text-black);
  font-family: 'SegoeUI';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/empty-checkbox.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-image: url('../images/checkbox.svg');
}

.container {
  width: 1400px;
}

.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 0 20px 0 24px;
  height: 88px;
}

.header__start {
  display: flex;
  width: 170px;
  align-items: center;
  gap: 16px;
}

.header__menu {
  display: flex;
  padding: 11px 9px 11px 9px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  display: flex;
}

.header__logo {
  display: flex;
  padding: 1px 0px 7px 0px;
  justify-content: center;
  align-items: center;
  color: var(--system-white);
  font-size: 30px;
  font-weight: 600;
  width: 106px;
  font-variant: all-small-caps;
  letter-spacing: 2.3px;
  text-decoration: none;
}

.header__search {
  display: flex;
  height: 48px;
  padding: 0px 20px;
  align-items: center;
  flex: 1 0 0;
  position: relative;
  border-radius: 36px;
  background: rgba(255, 255, 255, 0.2);
}

.header__search-input::placeholder {
  color: var(--system-white);
  font-size: 18px;
  opacity: 0.5;
}

.header__search-button {
  position: absolute;
  right: 20px;
}

.header__button {
  display: none;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  list-style-type: none;
}

.nav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-bottom: 3px;
  width: 56px;
  height: 53px;
  position: relative;
  text-decoration: none;
}

.nav__logo {
  display: flex;
  width: 56px;
  height: 30px;
  padding: 1px 13px 1px 15px;
  justify-content: center;
  align-items: center;
}

.nav__logo_cart {
  padding: 1px 18px 1px 10px;
}

.nav__link span {
  color: var(--system-white);
  font-size: 13px;
  line-height: 16px;
}

.count {
  position: absolute;
  padding: 1px 5px;
  border-radius: 16px;
  background: var(--system-orange);
  color: var(--system-white);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
}

.nav__count {
  right: 8px;
  top: -4px;
}

.main {
  display: flex;
  gap: 32px;
  padding: 24px 24px 34px 24px;
  max-width: 100%;
  background: var(--background-smoky);
  border-radius: 24px 24px 24px 24px;
}

.left-block {
  margin-top: 12px;
  width: 66%;
}

.title {
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.72px;
}

.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse--bold {
  align-items: self-start;

  margin-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.collapse__checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.collapse__title {
  font-size: 16px;
  font-weight: 600;
}

.collapse__button {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.collapse__button--rotate {
  margin-bottom: 18.5px;
  transform: rotate(180deg);
}

.collapse__text {
  display: none;
  font-weight: 600;
}

.basket {
  margin-bottom: 40px;
}

.basket__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 17px;
  margin-bottom: 36.5px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 9px;
}

.item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item:last-child {
  padding-top: 6px;
}

.item--missing:last-child {
  padding-top: 2px;
}

.item__left-side {
  display: flex;
  width: 397px;
}

.item__checkbox {
  margin-top: 37.5px;
  margin-right: 12px;
}

.item__image {
  margin-top: 3px;
  margin-right: 16px;
}

.item__info {
  max-width: 248px;
  margin-top: 3px;
}

.item__info--missing {
  max-width: 309px;
}

.item__title {
  margin-bottom: 7px;
}

.item__description {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 16px;
}

.item__org {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

.item__stock {
  margin-bottom: 3px;
}

.text-small {
  font-size: 13px;
  line-height: 16px;
}

.text-grey {
  color: var(--system-gray);
}

.item__right-side {
  position: relative;
  display: flex;
}

.item__action {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 2px;
}

.item__count {
  display: flex;
  max-width: 100px;
  padding: 8px 3px 10px 4px;
  border-radius: 8px;
  background: var(--system-white);
}

.item__count-input {
  display: flex;
  width: 44px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.item__count-change {
  padding: 2px 5px 6px 6px;
  margin-top: 2px;
  text-align: center;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.2px;
}

.item__remain {
  color: var(--red);
  font-size: 13px;
  line-height: 16px;
}

.item__action-logo {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.item__action-logo--missing {
  margin-right: 127px;
}

.item__action-favorite:hover,
.item__action-favorite--active {
  filter: var(--active-button);
}

.item__action-delete:hover {
  filter: var(--hover-delete-button);
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  margin-left: 16px;
  min-width: 110px;
}

.price__current {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.price__current--small {
  font-size: 16px;
}

.price__current span {
  font-size: 16px;
  line-height: 24px;
}

.price__total {
  color: var(--system-gray, #9797af);
  font-size: 13px;
  line-height: 16px;
  text-decoration: line-through;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.price__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price__info--grey {
  color: var(--light-system-gray);
}

.item__price-small {
  display: none;
}

.block {
  margin-bottom: 16px;
  padding: 16px 24px 24px 24px;
  border-radius: 16px;
  background: var(--system-white);
}

.block__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.block__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.2px;
}

.block__button {
  margin-top: 7px;
  margin-right: 4px;
  color: var(--system-magenta, #cb11ab);
  font-weight: 700;
}

.delivery__details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.delivery__info {
  display: flex;
  gap: 32px;
}

.delivery__info:nth-child(5) {
  padding-bottom: 8px;
}

.delivery__subtitle {
  width: 153px;
  font-weight: 600;
}

.rating {
  display: flex;
  margin-top: 4px;
}

.rating img {
  margin-right: 4px;
}

.rating span {
  margin-right: 8px;
  font-size: 13px;
  line-height: 16px;
}

.delivery__vizual {
  display: flex;
  gap: 8px;
}

.delivery__image {
  position: relative;
  height: 56px;
}

.delivery__count {
  right: -5px;
  top: -8px;
  font-weight: 600;
}

.notification {
  display: flex;
  align-items: center;
  gap: 8px;
}

.notification__text {
  position: relative;
  font-size: 13px;
  line-height: 16px;
}

.notification__text span {
  margin-left: 2px;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
  color: var(--system-green);
}

.card {
  display: flex;
  gap: 8px;
}

.card__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 24px;
  border-radius: 4px;
  background: var(--background-smoky);
}

.card__number {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.payment__notification {
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
  color: var(--system-gray, #9797af);
}

.payment__button {
  margin-top: 8px;
}

.recipient__form {
  max-width: 700px;
}

.recepient__block {
  display: flex;
  gap: 24px;
}

.recepient__field {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 18px;
}

.recepient__field--signed {
  padding-bottom: 0;
}

.recepient__input {
  margin-top: 6px;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recepient__footnote {
  margin-top: 4px;
  font-size: 12px;
  line-height: 14px;
}

.right-block {
  width: 31.7%;
  margin-top: -1px;
}

.order {
  position: sticky;
  top: 22px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.order__header {
  margin-bottom: 8px;
}

.order__sum {
  letter-spacing: -0.5px;
}

.order__details {
  margin-top: 8px;
}

.order__detail--count {
  display: flex;
  gap: 4px;
}

.order__info {
  display: flex;
  justify-content: space-between;
}

.order__addres {
  margin-top: 4px;
  font-size: 13px;
  line-height: 16px;
}

.order__date {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
  color: var(--system-magenta);
  border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
}

.order__notification {
  padding: 8px 8px 12px 8px;
  border-radius: 8px;
  background: var(--background-smoky);
}

.order__notification-text span {
  margin-left: 0;
}

.order__card {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 16px;
}

.order__payment-check {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  line-height: 16px;
}

.order__payment-info {
  margin-top: 8px;
  font-size: 13px;
  line-height: 16px;
}

.order__agreement {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: 12px;
  font-size: 13px;
  line-height: 16px;
}

.order__agreement-text span {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  margin-top: 24px;
  padding-bottom: 1px;
  background-color: var(--system-magenta);
  border-radius: 8px;
  color: var(--system-white);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.content {
  margin-top: 24px;
}

.content__header {
  display: flex;
  justify-content: space-between;
}

.content__title {
  font-weight: 700;
  letter-spacing: 0.35px;
}

.content__button {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  line-height: 16px;
}

.navbar {
  display: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.modal__content--delivery {
  width: 500px;
}

.modal__header {
  margin-bottom: 11px;
}

.modal__title {
  font-size: 20px;
  line-height: 28px;
}

.modal__button {
  margin-top: 3px;
  margin-right: -3px;
}

.payment-modal__button {
  margin-top: 139px;
}

.choice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.choice__item {
  display: flex;
  gap: 8px;
}

.choice__item label {
  display: flex;
  flex-direction: column;
}

.choice__delete {
  margin-left: auto;
}

.choice__text {
  margin-top: 4px;
  margin-bottom: 8px;
}

.button-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 36px;
  padding-bottom: 4px;
  padding-left: 3px;
  border-radius: 20px;
  border: 2px solid rgba(203, 17, 171, 0.15);
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.4px;
}

.delivery-modal__type {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.delivery-modal__subtitle {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
}

.delivery-modal__button {
  margin-top: 32px;
}

.choice__rating {
  display: none;
}

.hidden {
  display: none;
}

.popup {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 11px 16px 13px 16px;
  border-radius: 8px;
  background: var(--system-white);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  font-size: 13px;
  line-height: 16px;
  color: var(--text-black);
}

.popup--org {
  top: 30px;
}

.popup--free {
  left: 200px;
}

.popup--price {
  top: 55px;
  flex-direction: row;
  width: 250px;
}

.popup h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.popup p {
  width: 255px;
}

.more-info:hover + .popup {
  display: flex;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .left-block {
    width: 67%;
  }

  .order__notification-text span {
    margin-left: -2px;
  }

  .order__agreement {
    margin-right: 1px;
  }

  .button-submit {
    padding-bottom: 4px;
  }
}

@media (max-width: 996px) {
  .header {
    justify-content: space-between;
  }

  .header__start {
    width: auto;
  }

  .header__logo {
    width: auto;
  }

  .header__nav {
    display: none;
  }

  .main {
    flex-direction: column;
  }

  .left-block {
    width: 100%;
  }

  .right-block {
    width: 100%;
  }

  .recepient__block {
    flex-direction: column;
  }
}

@media (max-width: 668px) {
  .header {
    gap: 0;
    padding: 0 13px;
    height: 56px;
  }

  .header__start {
    gap: 20px;
  }

  .header__menu {
    border: none;
    padding: 0;
  }

  .header__search {
    display: none;
  }

  .header__logo {
    font-size: 26px;
    letter-spacing: 3.3px;
  }

  .header__button {
    display: block;
  }

  .main {
    padding: 0;
  }

  .basket {
    padding: 16px 15px 16px 16px;
  }

  .item {
    flex-direction: column;
  }

  .item__right-side {
    width: 100%;
  }

  .item__action {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .price {
    display: none;
  }

  .item__left-side {
    width: 335px;
  }

  .item__info {
    max-width: 220px;
  }

  .item__price-small {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }

  .navbar {
    position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 56px;
    padding: 0px 13px;
    justify-content: space-around;
    align-items: center;
    background: var(--system-white);
  }

  .modal {
    align-items: unset;
  }

  .modal__content {
    width: 100vw;
    height: 100vh;
    border-radius: unset;
  }

  .modal__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .button-submit {
    margin-top: auto;
  }
}

@media (max-width: 390px) {
  .basket {
    margin-bottom: 0;
  }

  .basket__list {
    gap: 16px;
    margin-bottom: 45.5px;
  }

  .basket__list--missing {
    margin-top: 19px;
    margin-bottom: 16px;
  }

  .item {
    gap: 12px;
  }

  .item__title {
    font-size: 14px;
    line-height: 20px;
  }

  .item__org,
  .item__size {
    display: none;
  }

  .item__left-side {
    position: relative;
    width: 290px;
  }

  .item__checkbox {
    position: absolute;
    top: 7px;
    left: 4px;
    margin-top: 0;
  }

  .price__current {
    font-size: 16px;
    line-height: 24px;
  }

  .block__title {
    font-size: 20px;
    line-height: 28px;
  }

  .block {
    padding: 16px 16px 24px 16px;
    margin-bottom: 12px;
  }

  .block__header {
    margin-bottom: 8px;
  }

  .delivery__details {
    gap: 0;
  }

  .delivery__info {
    flex-direction: column;
    gap: 0;
    margin-bottom: 16px;
  }

  .delivery__info:nth-child(3) {
    margin-bottom: 24px;
  }

  .delivery__info:nth-child(4) {
    margin-bottom: 0;
  }

  .delivery__vizual {
    margin-top: 12px;
  }

  .delivery__notification {
    margin: 0 8px;
  }

  .payment__button {
    margin-top: 4px;
  }

  .button-delivery {
    width: 140px;
    height: 40px;
  }

  .choice__rating {
    display: flex;
  }

  .choice__rating:last-child {
    color: var(--light-system-gray);
  }
}

@media (max-width: 320px) {
  .title {
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 28px;
  }

  .main {
    gap: 16px;
  }

  .left-block {
    margin-top: 0;
  }

  .collapse__checkbox {
    font-size: 16px;
    line-height: 24px;
  }

  .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .item:nth-child(2) {
    gap: 8px;
  }

  .item:last-child {
    padding-top: 8px;
  }

  .item__title {
    margin-top: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .item__title--missing {
    margin-top: 2px;
  }

  .item__image {
    width: 80px;
    height: 106px;
  }

  .item__action {
    margin-top: 0;
  }

  .item__count {
    max-width: 80px;
    padding: 2px 4px 4px 4px;
  }

  .item__count-change {
    padding-right: 2px;
  }

  .item__action {
    justify-content: unset;
    gap: 16px;
  }

  .item__action--missing {
    justify-content: end;
  }

  .item__action-logo {
    margin-left: 14px;
    gap: 24px;
  }

  .item__action-logo--missing {
    margin-left: 0;
    margin-right: 6px;
    padding: 2px 0;
  }

  .item--missing:nth-child(2) {
    gap: 12px;
  }

  .price__current {
    font-size: 16px;
    line-height: 24px;
  }

  .price__total {
    margin-top: 5px;
  }

  .recipient {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .recepient__block {
    gap: 0;
  }

  .recepient__field {
    padding-top: 11px;
    padding-bottom: 30px;
  }

  .recepient__field--signed {
    padding-top: 13px;
    padding-bottom: 21px;
  }

  .order {
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .order__sum {
    letter-spacing: 0px;
  }

  .content__header,
  .order__addres,
  .order__date,
  .order__card {
    display: none;
  }

  .order__notification {
    background-color: var(--system-smoky-dark);
  }

  .content {
    margin-top: 18px;
  }

  .order__payment {
    margin-top: 16px;
  }

  .right-block {
    padding-bottom: 12px;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar__logo {
    position: relative;
    height: 28px;
  }

  .navbar__count {
    right: -6px;
    top: -4px;
  }
}
