:root {
  --system-violet: #6725a8;
  --background-smoky: #f6f6fa;
  --system-white: #fff;
  --system-orange: hsl(13, 91%, 55%);
  --system-gray: #9797af;
  --system-green: #0cb477;
  --system-magenta: #cb11ab;
  --text-black: #000;
  --red: #ff3b30;
  --system-smoky-dark: #f0ecf4;
}
